<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteAmazon" thread-count="2" parallel="tests" >

  <test name="ChromeTest">
  <parameter name="BroW" value="Chrome"/>
    <classes>
      <class name="testClasses.VerifyHeadersTESTnGAmazon"/>
    </classes>
  </test> <!-- Test1 -->

<test name="EdgeTest">
<parameter name="BroW" value="Edge"/>
    <classes>
      <class name="testClasses.VerifyHeadersTESTnGAmazon"/>
    </classes>
  </test> <!-- Test1 -->


</suite> <!-- SuiteAmazon -->
